body {
    text-align: center;
    background-image: url(../img/brpg-bg-computer-2.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.location-img {
    position: relative;
    top: 80px;
    left: -90px;
    transform: rotate(-1.5deg);
    max-width: 780px;
    min-width: 780px;
    max-height: 600px;
    min-height: 600px;
}

.terminal {
    height: auto;
    width: 300px;
    background-color: black;
    color: rgb(33, 170, 90);
    margin: 0 30vw;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: -120px;
    left: 635px;
    transform: rotate(-1.5deg);
}

#user_input {
    background-color: black;
    color: rgb(33, 170, 90);
    font-family: 'Courier New', Courier, monospace;
    width: 98%;
    height: 3vh;
    font-size:medium;
    padding: 0 5px;
}

#command_form {
    text-align: center;
}

#terminal_output {
    /* height: 12vh; */
    padding: 8px;
    /* line-height: 8vh; */
}

#status {
    position: absolute;
    top: 745px;
    left: 380px;
    transform: rotate(-0.8deg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}