{% extends "base.html" %}
{% block content %}

<br>
<br>

<div>
    <img class="location-img" src="{{ location.img_path }}" alt="{{ location.name }}" width="780">
</div>

<br>
<h3 id="status">
    {{ player.name|upper }} is equipped with 
    {% if player.equipped == "nothing" %}
    {{ player.equipped|upper }} 
    {% else %}
    the {{ player.equipped|upper }} 
    {% endif %} 
    at {{ location.name|upper }}</h3>
<br>

<div class="row">
    <div class="terminal">
         
        <p id="terminal_output">
            {{ output }}
        </p>

        <form id="command_form" method="POST" action="{{ url_for('game') }}" autocomplete="off">
            <input type="text" id="user_input" name="user_input" placeholder=">>" autofocus />
        </form>

    </div>
</div>

{% endblock %}