{% extends "base.html" %}
{% block content %}

<!-- <a href="{{ url_for('start') }}">Start</a>
<a href="{{ url_for('save') }}">Save</a> -->

<br>
<br>

<div class="location-img">
    <img src="{{ location.img_path }}" alt="{{ location.name }}" height="600">
</div>

<br>
<h3>
    {{ player.name|upper }} is equipped with 
    {% if player.equipped == "nothing" %}
    {{ player.equipped|upper }} 
    {% else %}
    the {{ player.equipped|upper }} 
    {% endif %} 
    at {{ location.name|upper }}</h3>
<br>

<div class="row">
    <div class="terminal">
         
        <p id="terminal_output">
            {{ output }}
        </p>

        <form id="command_form" method="POST" action="{{ url_for('game') }}" autocomplete="off">
            <input type="text" id="user_input" name="user_input" autofocus />
        </form>

    </div>
</div>

    <!-- <div class="inventory">
        <h5>INVENTORY:
            {% for item in player.inventory %}
            {% if item == player.equipped %}
            [ *{{ item }}* ]
            {% else %}
            [ {{ item }} ]
            {% endif %}
            {% endfor %}
        </h5>
    </div> -->



{% endblock %}