{% extends "base.html" %}
{% block content %}

<div class="location-img">
    <img src="{{ location.img_path }}" alt="{{ location.name }}" width="1000">
</div>

<form method="POST" action="{{ url_for('game', current_location='location_1') }}">
    <h4>{{ player.name }}</h4>
    <h5>{{ player.location }}</h5>
    <h6>{{ player.inventory }}</h6>
    <input type="number" id="location" name="location"/>
    <button type="submit">Change location</button>
    <input type="text" id="inventory" name="inventory"/>
    <button type="submit">Change inventory</button>

    <a href="{{ url_for('victory') }}">Victory</a>
</form>
{% endblock %}